header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 56px 56px 56px 56px;
}

nav{
    grid-row-start: 1;
    grid-column: 2/12;
}

.main_message{
    grid-column: 2/6;
    grid-row-start: 3;
}

.main_image{
    grid-column: 8/12;
    grid-row-start: 3;
    height: 500px;
    width: 600px;
}

@media (max-width: 600px){
    .main_message{
        grid-column: 2/12;
        grid-row-start: 3;
        
    }
    .main_image{
        grid-column: 2/12;
        grid-row-start: 5;
    }

}